# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo

# Secrets / clés privées
*.pem
RNCP_38919_BLOC_3_PRACTICE_LABS_PACK/data_enginering_machine.pem
RNCP_38919_BLOC_2_EXAMEN_BLANC_01_PRACTICE_PACK/data_enginering_machine.pem
